.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: #fff; /* or any other background color you prefer */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  opacity: 0.8;
  transition: 0.3s all ease-in-out;
  color: #000;
}
